# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/src/Calculator/.gradle/
/src/Calculator/build/
src/CalculatorUtils/.gradle/6.0/fileChanges/last-build.bin
src/CalculatorUtils/.gradle/6.0/fileContent/fileContent.lock
src/CalculatorUtils/.gradle/6.0/fileHashes/fileHashes.bin
src/CalculatorUtils/.gradle/6.0/fileHashes/fileHashes.lock
src/CalculatorUtils/.gradle/6.0/fileHashes/resourceHashesCache.bin
src/CalculatorUtils/.gradle/6.0/gc.properties
src/CalculatorUtils/.gradle/6.0/javaCompile/classAnalysis.bin
src/CalculatorUtils/.gradle/6.0/javaCompile/jarAnalysis.bin
src/CalculatorUtils/.gradle/6.0/javaCompile/javaCompile.lock
src/CalculatorUtils/.gradle/6.0/javaCompile/taskHistory.bin
src/CalculatorUtils/.gradle/buildOutputCleanup/buildOutputCleanup.lock
src/CalculatorUtils/.gradle/buildOutputCleanup/cache.properties
src/CalculatorUtils/.gradle/buildOutputCleanup/outputFiles.bin
src/CalculatorUtils/.gradle/nb-cache/CalculatorUtils-1459095735/project-info.ser
src/CalculatorUtils/.gradle/nb-cache/CalculatorUtils-1578560568/project-info.ser
src/CalculatorUtils/.gradle/nb-cache/CalculatorUtils-42773561/project-info.ser
src/CalculatorUtils/.gradle/nb-cache/CalculatorUtils-900596835/project-info.ser
src/CalculatorUtils/.gradle/vcs-1/gc.properties
src/CalculatorUtils/build.gradle
src/CalculatorUtils/build/classes/java/main/CalculatorUtils/Utilities.class
src/CalculatorUtils/build/libs/CalculatorUtils.jar
src/CalculatorUtils/build/tmp/jar/MANIFEST.MF
src/CalculatorUtils/gradle.properties
src/CalculatorUtils/nbproject/project.properties
src/CalculatorUtils/settings.gradle
src/CalculatorUtils/src/main/java/CalculatorUtils/Display.form
src/CalculatorUtils/src/main/java/CalculatorUtils/Display.java
src/CalculatorUtils/.gradle/6.0/fileChanges/last-build.bin
src/CalculatorUtils/.gradle/6.0/fileContent/fileContent.lock
src/CalculatorUtils/.gradle/6.0/fileHashes/fileHashes.bin
src/CalculatorUtils/.gradle/6.0/fileHashes/fileHashes.lock
src/CalculatorUtils/.gradle/6.0/fileHashes/resourceHashesCache.bin
src/CalculatorUtils/.gradle/6.0/gc.properties
src/CalculatorUtils/.gradle/6.0/javaCompile/classAnalysis.bin
src/CalculatorUtils/.gradle/6.0/javaCompile/jarAnalysis.bin
src/CalculatorUtils/.gradle/6.0/javaCompile/javaCompile.lock
src/CalculatorUtils/.gradle/6.0/javaCompile/taskHistory.bin
src/CalculatorUtils/.gradle/buildOutputCleanup/buildOutputCleanup.lock
src/CalculatorUtils/.gradle/buildOutputCleanup/cache.properties
src/CalculatorUtils/.gradle/buildOutputCleanup/outputFiles.bin
src/CalculatorUtils/.gradle/nb-cache/CalculatorUtils-1459095735/project-info.ser
src/CalculatorUtils/.gradle/nb-cache/CalculatorUtils-1578560568/project-info.ser
src/CalculatorUtils/.gradle/nb-cache/CalculatorUtils-42773561/project-info.ser
src/CalculatorUtils/.gradle/nb-cache/CalculatorUtils-900596835/project-info.ser
src/CalculatorUtils/.gradle/vcs-1/gc.properties
src/CalculatorUtils/build.gradle
src/CalculatorUtils/build/classes/java/main/CalculatorUtils/Utilities.class
src/CalculatorUtils/build/libs/CalculatorUtils.jar
src/CalculatorUtils/build/tmp/jar/MANIFEST.MF
src/CalculatorUtils/gradle.properties
src/CalculatorUtils/nbproject/project.properties
src/CalculatorUtils/settings.gradle
src/CalculatorUtils/src/main/java/CalculatorUtils/Display.form
src/CalculatorUtils/src/main/java/CalculatorUtils/Display.java
/src/Calculator/CalculatorUtils/.gradle/
/src/Calculator/CalculatorUtils/build/
/src/Calculator/src/CalculatorUtils/.gradle/
/src/Calculator/src/CalculatorUtils/build/